/* ------------------------------------ FONTS ------------------------------------------------ */
@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700,800,900&display=swap&subset=hebrew');
@import url('https://fonts.googleapis.com/css?family=Lobster:100,200,300,400,500,600,700,800,900&display=swap&subset=hebrew');

/* ------------------------------------ VARIABLES ------------------------------------------------ */
$primaryColor: #551a8b;

$headerHeight: 48px;

// Font Faces
$fontDefault: Roboto, Assistant, 'Helvetica Neue', Helvetica, sans-serif;