div {
  position: relative; }
  div .welcome {
    overflow: hidden;
    padding-top: 50px;
    padding-left: 10px;
    margin: auto;
    z-index: 2;
    background: transparent;
    width: 992px; }
    div .welcome .slide-div {
      animation: slidein 1s; }
      div .welcome .slide-div h1 {
        color: white;
        margin-left: 60px; }

@keyframes slidein {
  from {
    margin-top: -400px; }
  to {
    margin-left: 0; } }
