@import '../../assets/style/animations.scss';
@import '../../assets/style/variables.scss';

.home {
    >div {
        animation: slidedown 1s;
    }

    h1 {
        color: white;
        letter-spacing: 1px;
        font-size: 36px;
        cursor: default;

        .name {
            display: inline-block;
            animation: bounce 1s 1s;
            animation-iteration-count: 3;
        }

        span {
            &:hover {
                color: $primaryColor;
            }
        }
    }
}