@import '../../assets/style/animations.scss';
@import '../../assets/style/variables.scss';

.home {
    >div {
        animation: slidedown 1s;
    }

    h1 {
        color: white;

        span {
            display: inline-block;
            animation: bounce 1s 1s;
            animation-iteration-count: 7;
        }
    }
}