.about {
    overflow: hidden;
    z-index: 2;
    h1, p {
        margin-left: 80px;
    }
    p {
        color: white;
        a {
            font-weight: bold;
            font-size: 24px;
        }
    }
    h1 {
        color: #551A8B;
        font-size: 42px;
        width: 300px;
        position: relative;
        .me {
            border-radius: 50%;
            width: 90px;
            height: 90px;
            top: -20px;
            right: 0;
            position: absolute;
        }
    }
    .scrollinger {
        padding-top: 150px;
        animation: marginLeft .7s;
    }
}

@keyframes marginLeft {
    from{margin-left: -650px;}
    to{margin-top: 0;}
}