nav {
  z-index: 4;
  max-height: 21px;
  position: fixed;
  top: 0;
  width: 100%;
  padding: 15px 0;
  background: #181818; }
  nav .nav-size {
    width: 992px;
    position: relative;
    margin: auto; }
    nav .nav-size ul {
      display: inline;
      list-style-type: none; }
      nav .nav-size ul li {
        cursor: pointer;
        font-weight: 600;
        transition: .7s;
        display: inline;
        padding: 15px; }
        nav .nav-size ul li i {
          margin-right: 5px; }
      nav .nav-size ul li:hover {
        background: #F1F1F1;
        color: #181818; }
        nav .nav-size ul li:hover i {
          animation: rotate 0.7s; }
    nav .nav-size .brand {
      font-family: 'Lobster', cursive;
      float: right; }
      nav .nav-size .brand a {
        padding: 15px; }
      nav .nav-size .brand i {
        font-size: 24px; }

@keyframes rotate {
  0% {
    transform: rotate(0deg); }
  25% {
    transform: rotate(-10deg); }
  50% {
    transform: rotate(10deg); }
  75% {
    transform: rotate(-10deg); }
  100% {
    transform: rotate(0deg); } }
