nav {
  z-index: 4;
  max-height: 21px;
  position: fixed;
  top: 0;
  width: 100%;
  padding: 15px 0;
  background: #181818; }
  nav .nav-size {
    width: 992px;
    position: relative;
    margin: auto; }
    nav .nav-size ul {
      display: inline;
      list-style-type: none; }
      nav .nav-size ul li {
        cursor: pointer;
        font-weight: 600;
        transition: .7s;
        display: inline;
        padding: 15px; }
        nav .nav-size ul li i {
          margin-right: 5px; }
      nav .nav-size ul li:hover {
        background: #F1F1F1;
        color: #181818; }
        nav .nav-size ul li:hover i {
          animation: rotate 0.7s; }
    nav .nav-size .brand {
      font-family: 'Lobster', cursive;
      float: right; }
      nav .nav-size .brand a {
        padding: 15px; }
      nav .nav-size .brand i {
        font-size: 24px; }

@keyframes rotate {
  0% {
    transform: rotate(0deg); }
  25% {
    transform: rotate(-10deg); }
  50% {
    transform: rotate(10deg); }
  75% {
    transform: rotate(-10deg); }
  100% {
    transform: rotate(0deg); } }

div {
  position: relative; }
  div .welcome {
    overflow: hidden;
    padding-top: 50px;
    padding-left: 10px;
    margin: auto;
    z-index: 2;
    background: transparent;
    width: 992px; }
    div .welcome .slide-div {
      animation: slidein 1s; }
      div .welcome .slide-div h1 {
        color: white;
        margin-left: 60px; }

@keyframes slidein {
  from {
    margin-top: -400px; }
  to {
    margin-left: 0; } }

.about {
  overflow: hidden;
  z-index: 2; }
  .about h1, .about p {
    margin-left: 80px; }
  .about p {
    color: white; }
    .about p a {
      font-weight: bold;
      font-size: 24px; }
  .about h1 {
    color: #551A8B;
    font-size: 42px;
    width: 300px;
    position: relative; }
    .about h1 .me {
      border-radius: 50%;
      width: 90px;
      height: 90px;
      top: -20px;
      right: 0;
      position: absolute; }
  .about .scrollinger {
    padding-top: 150px;
    animation: marginLeft .7s; }

@keyframes marginLeft {
  from {
    margin-left: -650px; }
  to {
    margin-top: 0; } }

.projects {
  animation: marginBottom 1s;
  padding-top: 75px; }
  .projects h1 {
    text-align: center;
    color: #551A8B; }
  .projects div ul {
    margin-top: 30px;
    position: relative;
    padding: 0 2%;
    width: 100%; }
    .projects div ul li {
      width: 30%;
      margin: 0 1%;
      display: inline-block;
      position: relative;
      text-align: center; }
      .projects div ul li img {
        z-index: 1;
        height: 150px;
        width: 275px;
        box-shadow: 0 2px 7px rgba(0, 0, 0, 0.17);
        border-radius: 5px;
        border: 2px solid #551A8B;
        transition: .7s; }
      .projects div ul li span {
        font-size: 24px;
        font-weight: 600;
        transition: .7s;
        color: white; }
      .projects div ul li button {
        opacity: .4;
        font-size: 20px;
        padding: 10px 40px;
        color: #551A8B;
        border: 1px solid #551A8B;
        border-radius: 52px;
        position: absolute;
        top: 50px;
        left: 82px;
        transition: .7s; }
    .projects div ul li:hover button {
      color: white;
      background: #551A8B;
      border: 1px solid black;
      opacity: 0.8; }
    .projects div ul li:hover img {
      border: 2px solid white; }
    .projects div ul li:hover span {
      opacity: .8;
      color: #551A8B; }

.gallery.lay {
  min-width: 840px;
  border-radius: 5px; }
  .gallery.lay .viewing {
    text-align: center; }
    .gallery.lay .viewing img {
      border-radius: 0;
      border: 2px solid #551A8B;
      height: 490px;
      cursor: default; }
  .gallery.lay .img-block {
    position: relative; }
    .gallery.lay .img-block ul {
      margin: 0;
      position: relative;
      width: 100%; }
      .gallery.lay .img-block ul li .chosen {
        border: 2px solid white; }
      .gallery.lay .img-block ul li .to-view {
        border-radius: 0;
        cursor: pointer;
        width: 220px;
        height: 110px; }

.topOut {
  animation: topOut .7s; }

@keyframes topOut {
  from {
    transform: rotateX(0deg); }
  to {
    transform: rotateX(90deg); } }

.topIn {
  animation: topIn .7s; }

@keyframes topIn {
  from {
    transform: rotateX(90deg); }
  to {
    transform: rotateX(0deg); } }

@keyframes marginBottom {
  from {
    margin-bottom: -255px; }
  to {
    margin-bottom: 0; } }

.contact {
  animation: rollin .5s;
  padding-top: 75px; }
  .contact h1 {
    margin-left: 60px;
    color: #551A8B; }
  .contact .contact-ways div span.quote.li:nth-child(even) {
    margin-left: 15px; }
  .contact .contact-ways div i {
    font-size: 24px;
    padding: 15px;
    max-width: 20px; }
  .contact .contact-ways div a {
    font-weight: 600; }

@keyframes rollin {
  from {
    margin-left: -320px; }
  to {
    margin-left: 0; } }

@keyframes leftShow {
  from {
    margin-left: -500px; }
  to {
    margin-left: 0; } }

body {
  font-family: 'Roboto', 'Assistant', sans-serif;
  margin: 0;
  margin-top: 50px;
  height: 100%;
  width: 100%; }

#main {
  background-image: url("imgs/programmer-bg.png");
  height: 100vh;
  width: 100vw;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: fixed;
  top: 0;
  left: 0; }

@keyframes fadein {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

.overlay {
  animation: fadein 1s;
  background: rgba(107, 107, 107, 0.9);
  z-index: 5;
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  cursor: pointer; }

.overlay.open {
  display: block; }
  .overlay.open .lay {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 6;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); }

.wrapper {
  margin: auto;
  width: 992px;
  overflow: hidden; }

.quote {
  color: #4F4F52;
  font-family: 'Lobster', cursive; }

.body {
  margin-left: 20px; }

.h1 {
  margin-left: 40px; }

.li {
  margin-left: 60px; }

h1,
p {
  margin: 0; }

p {
  font-family: 'Ubuntu', sans-serif; }

ul {
  list-style-type: none;
  margin: 0;
  padding: 0; }

a {
  text-decoration: none;
  color: #551A8B; }

button, button:focus {
  cursor: pointer;
  outline: none; }
